<section>
  <h1>Post new comment</h1>
  <form method="post" action="/comment">
    <label for="name">Name</label>
    <input type="text" name="name" />
    <label for="mail">E-mail</label>
    <input type="text" name="mail" />
    <label for="comment">Comment</label>
    <textarea name="comment"></textarea>
    <input type="submit" value="Submit" />
  </form>
</section>


