section#endpointform
  h1.title Add Endpoint
  form(method="post")
    fieldset
      legend General settings
        .clearfix
          label(for="label") Label
          .input
            input(type="text", name="label")
        .clearfix
          label(for="name") Name
          .input
            input(type="text", name="name")
        .clearfix
          label(for="path") Path
          .input
            input(type="text", name="path")
    fieldset
      div#methods
      legend Methods
        table#methodtable.bordered-table
          tr
            th Method
            th Operations
          each method, name in methods
            tr
              td.label= method.label
              td.operations
                a(href=method.editUrl) Edit
                a(href=method.deleteUrl) Delete
        .clearfix
          label(for="method") Add method
        .input
          select(name="method")
            each methodPlugin, name in methodPlugins
              option(value=name)= methodPlugin.label
              input#addmethod.btn(type="submit", name="addmethod", value="Add Method")
    div#method-form
    .actions
      input.btn.primary(type="submit", value="Save endpoint")