form#addmethodform(method="post")
  input(type="hidden", name="plugin", value=plugin)
  if methodForm
    != partial(methodForm, {method: method})
  .clearfix
    label(for="response") Response type
    .input
      select#response(name="response")
        each responsePlugin, name in responsePlugins
          option(value=name)= responsePlugin.label
  .actions
    input.button.primary#addmethodsubmit(type="submit", value="Add method")